<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>电票在线交易平台_票据支付宝_互联网票据交易平台_汇票线</title>
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name="keywords" content="票据贴现,网络票据在线交易,汇票线票据交易平台" />
    <meta name="description" content="关于我们汇票线平台,承载着改善传统票据交易模式的梦想,降低票据交易贴现成本,在票据行业转型期强调立身之本、发展基石、价值取向,汇票线平台终会成为网络票据交易平台的标杆。" />

    <meta http-equiv=”X-UA-Compatible” content=”IE =Edge,chrome =1″>
    <meta name="baidu-site-verification" content="8wHB899l5W" />
    <meta name="sogou_site_verification" content="QY1qSYeHpf" />
    <meta name="viewport" content="width=1200px, user-scalable=true" />
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <script src="<%templateskin%>/js/jquery.min.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/sweetalert.min.js" type="text/javascript"></script>
    <link href="<%templateskin%>/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/all.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/contenle.css" rel="stylesheet" />

    <script type="text/javascript">
    logout = function () {
        swal({
            title: "确认要退出登录吗?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "是",
            cancelButtonText: "否",
            closeOnConfirm: true
        }, function () {

            $.cookie('customer', null);
            window.location.href = window.location.href;;

        })


    }


    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <strong><em></em></strong>

    <div class="bg">
        <div class="banner"></div>
        <div class="pt" style="height:1750px;">
            <div class="nav2">
                <ul>
                    <li>
                        <a href="/aspx/main/about.aspx" style="background-color: #f55a14; color: #fff;	padding: 10px 24px;">关于我们</a>
                    </li>
                    <li><a href="/list-54.html">新闻公告</a></li>
                    <li><a href="/aspx/main/announce.aspx">网站声明</a></li>
                    <li><a href="/aspx/main/platform.aspx">平台优势</a></li>
                    <li><a href="/aspx/main/business.aspx">商务合作</a></li>
                    <li><a href="/aspx/main/hr.aspx">招纳贤士</a></li>
                    <li><a href="/aspx/main/help.aspx">帮助中心</a></li>
                    <li><a href="/aspx/main/insurance.aspx">安全保障</a></li>
                </ul>
            </div>
            <div class="pt-rigth" style="height:887px">
                <div class="jian">
                    <div>
                        <span>平台简介</span>
                    </div>
                </div>
                <div class="nr">
                    “汇票线”是上海票趣信息科技有限公司在“互联网+”的大背景下，打造的票据在线交易一站式服务平台。汇票线依托行业多年的深耕与扎实的互联网信息技术，通过改造升级“传统票据”交易方式，创新发展为互联网+票据交易模式(B2B)。通过一站式服务，全方位为广大有票据流转交易需求的中小企业、金融机构、票据中介，提供电票、纸票、银票、商票的出票、收票、报价、撮合、交易等的专业平台，让天下没有贴不了的票。安全、高效、低成本、专业地解决了目前行业的痛点。 <br />
                    <br />
                    平台与--银行集团子公司--数字金融服务（上海）股份有限公司（以下简称“--数金”）达成战略合作伙伴关系，双方进行了深度合作。平台通过--数金研发的--执剑人见证代管系统监管票款流转，采取“先打款、后背书”方式，--银行集团代管户保障资金安全，打造票据行业的“电票支付宝”模式，制度性地解决了电票交易对手的信用风险及票款流转不同步的安全问题。<br />
                    <br />
                    <div class="ntr">
                        平台以打造中国互联网票据交易平台的标杆为己任，通过技术领先努力让票据交易触手可及，计划在3-5年完成从银票流转拓展到更加蓝海的商票一二级市场及提供融资、理财等票据衍生的B端布局，成为综合的一流持牌互联网票据公司，最终低成本解决企业票据融资难题，为推动实体经济的发展做出不懈地努力。

                        平台将充分利用“互联网+票据”的优势，紧抓行业痛点与央行力推电票的市场机会，作为与上海票交所定位的差异化角色，秉承稳健、规范的发展理念，努力构筑国内票据交易的良性生态系统。



                    </div>

                    <div class=""></div>
                </div>
                <div class="hpx"><img src="pic/hpx.png" width="288" height="401" style="margin-top:30px" /></div>
                <div class="clear"></div>
                <div class="yuan">
                    <div style="width: 101%; height: 22px;background: #f2f2f2;"></div>
                    <div class="jing" style="width: 100%; "><span>愿景使命</span></div>
                    <div class="box" style="width: 100%; ">
                        <div class="nr2"> <span><b>愿景：</b>互联网票据交易平台的标杆 </span> </div>
                        <div class="nr3"> <span> <b>使命：</b>让票据交易触手可及，低成本解决企业票据融资难题</span></div>
                    </div>
                </div>
            </div>



            <div class="CEO">
                <div class="ceo">
                    <div class="jiyu"><span>CEO寄语</span> </div>
                    <div class="nr4">
                    伴随着互联网思维与大数据时代的到来，作为2004年入行的票据“老兵”，一路走来，我见证着票据的风风雨雨，经历着时代因素给票据行业带来的巨变。也深刻认识到，我们唯有付出更多的汗水，承载更多的嬗变之因，才能收获更多的惊喜与快乐。

                    <br /><br />紧跟票据行业转型发展，票据在线交易一站式服务平台“汇票线”应运而生！

                    <br /><br />自成立以来，汇票线始终以“票据在线交易一站式服务平台”为目标，围绕一站式理念让票据在线交易变得安全、高效、简捷、专业，通过互联网改造提升传统票据行业的效率，解决客户痛点。这是汇票线的立身之本，也是汇票线平台的发展基石，更是汇票线人的价值取向。

                    <br /><br />在甚嚣尘上的浮躁环境中，面对票据行业转型发展所带来的机遇与挑战，汇票线仍将一如既往地以这种专业专注的“深耕”精神，不断完善平台的成熟度，提升客户服务质量，紧抓市场动向与时机，在战略上乐观应对，在战术上积极调整。

                    <br /><br />千里之行，始于足下。且让我们静下心来，踏踏实实走好每一步！
                </div>
                    <div class="qian">
                        <span>汇票线创始人兼CEO ：</span><img src="pic/qianming.png" width="105px;" height="52px;"
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->

</body>
</html>