<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>汇票线_纸票出票_电票出票</title>
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name="keywords" content="纸票信息,电票在线交易,汇票线官网" />
    <meta name="description" content="用户可在汇票线平台发布纸票信息和电票，纸票出票和收票流程便捷，交易迅速，汇票线满足用户需求。" />
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name=”renderer” content=”webkit”>
    <meta http-equiv=”X-UA-Compatible” content=”IE =Edge,chrome =1″>
    <meta name="baidu-site-verification" content="8wHB899l5W" />
    <meta name="sogou_site_verification" content="QY1qSYeHpf" />
    <meta name="viewport" content="width=1200px, user-scalable=true" />
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <script src="<%templateskin%>/js/jquery.min.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/sweetalert.min.js" type="text/javascript"></script>
    <link href="<%templateskin%>/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/all.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/contenle.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/sweetalert.css" rel="stylesheet" type="text/css" />
</head>
<body style="background:#f1f1f0">
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <strong><em></em></strong>
    <div class="bg" style="height: 1500px;">
        <div class="xsh">
            <div class="lj">
                <div class="xk">
                    <div class="nav3">
                        <ul>
                              <li ><a href="guide1.aspx">如何注册汇票线</a></li>
                            <li class="a1"><a href="guide2.aspx" class="a1">汇票线机构报价流程</a></li>
                            <li ><a href="guide3.aspx" >汇票线电票交易流程</a></li>
                            <li ><a href="guide4.aspx">汇票线纸票交易流程</a></li>
                           <li ><a href="guide5.aspx" >兴业执剑人操作流程</a></li>
                           <li ><a href="guide6.aspx" >兴业网银操作流程</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="db">
                <div class="chp"></div>
            </div>

        </div>

    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>