<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>汇票线新手指引_票据常见问题_票面常见问题</title>
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name="keywords" content="票据在线转让,票据贴现,汇票线会员平台交易帮助中心" />
    <meta name="description" content="企业收票出票在汇票线平台,告别票据传统交易方式,获得票源信息和票据交易优势,机构报价信息全面到位,解决你对于票据常见的知识性问题,注册成为汇票线会员是值得信赖的一步。" />

    <meta http-equiv=”X-UA-Compatible” content=”IE =Edge,chrome =1″>
    <meta name="baidu-site-verification" content="8wHB899l5W" />
    <meta name="sogou_site_verification" content="QY1qSYeHpf" />
    <meta name="viewport" content="width=1200px, user-scalable=true" />
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <script src="<%templateskin%>/js/jquery.min.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/sweetalert.min.js" type="text/javascript"></script>
    <link href="<%templateskin%>/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/all.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/contenle.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('.wenti2 li, .wenti3 li').click(function () {
                $('.wenti2 li, .wenti3 li').not(this).find('div').hide(200);
                $('.wenti2 li, .wenti3 li').css('color', '#3a3a3a').css('font-weight', 'normal')
                    .css('background', 'url(pic/sanjiaoxing.png) no-repeat top 18px left');
                if ($(this).find('div').css('display') == 'none') {
                    $(this).css('color', '#11216a').css('font-weight', 'bold')
                        .css('background', 'url(pic/sanjiaoxinglan.png) no-repeat top 18px left');
                }
                $(this).find('div').toggle(200);
                  $(this).find('div').toggleClass("tgclass");
            });
        });
    </script>
</head>
<body style="background:#f1f1f0">
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <strong><em></em></strong>
    <script>
        window.onload = function () {
            $(".fter").css('margin', '3% 0 0 0');
            $(".fter").css('width', '100%')
        }
    </script>
    <div class="bg5">
        <div class="banner"></div>
        <div class="nr">
            <div class="pt5" style="height:2129px">
                <div class="nav5">
                    <ul>
                        <li><a href="/aspx/main/about.aspx">关于我们</a></li>
                        <li><a href="/list-54.html">新闻公告</a></li>
                        <li><a href="/aspx/main/announce.aspx">网站声明</a></li>
                        <li><a href="/aspx/main/platform.aspx">平台优势</a></li>
                        <li><a href="/aspx/main/business.aspx">商务合作</a></li>
                        <li><a href="/aspx/main/hr.aspx">招纳贤士</a></li>
                        <li><a href="/aspx/main/help.aspx" style="background-color: #f55a14;color: #fff;padding: 10px 24px;">帮助中心</a></li>
                        <li><a href="/aspx/main/insurance.aspx">安全保障</a></li>
                    </ul>
                </div>
                <div class="zhiyin">
                    <div class="xinshou">
                        <div class="xsh">新手指引 </div>
                    </div>
                    <div class="wenti">
                        <ul>
                            <li><a href="guide1.aspx">1、怎么样注册成为汇票线会员？</a></li>
                            <li><a href="guide2.aspx">2、使用汇票线平台，机构报价的具体流程是怎样？</a></li>
                            <li><a href="guide3.aspx">3、使用汇票线平台，用户进行电票交易的流程是怎样的？</a></li>
                            <li><a href="guide4.aspx">4、使用汇票线平台，用户进行纸票交易的流程是怎样的？</a></li>
                            <li><a href="guide5.aspx">5、用户在平台交易过程中，操作--执剑人系统的流程是怎样的？</a></li>
                            <li><a href="guide6.aspx">6、用户在平台交易过程中，操作--网银系统的流程是怎样的？</a></li>
                        </ul>
                    </div>
                </div>


                <div class="ptchj">
                    <div class="chjian">
                        <div class="wt">平台常见问题 </div>
                        <div class="wenti2">
                            <ul>
                                <li>
                                    汇票线是干什么的？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                               “汇票线”是上海票趣信息科技有限公司在“互联网+”的大背景下，打造的票据在线交易一站式服务平台。定位于企业之间票据的流转，企业与银行之间的贴现。全方位为有票据流转交易需求的中小企业、金融机构、票据中介，提供电票、纸票、银票、商票的出票、收票、报价、撮合、交易等的专业平台，让天下没有贴不了的票。安全、高效、低成本、专业地解决目前行业的痛点。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    --数金是什么?如何保证监管资金的安全?
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                 --数金全称为--数字金融服务（上海）股份有限公司，是--银行集团旗下的数字金融服务行业，于2015年年底正式成立，其特点在于结合传统金融行业与现代金融行业，更具开放性和包容性，并承接--银行“银银平台”的科技输出优势，为中小银行、非银行金融机构、中小企业提供金融信息云服务。汇票线平台与--银行集团子公司--数字金融服务（上海）股份有限公司（以下简称“--数金”）达成战略合作伙伴关系，双方进行了深度合作。平台通过--数金研发的--执剑人见证代管系统监管票款流转，采取“先打款、后背书”方式，--银行集团代管户保障资金安全，打造票据行业的“电票支付宝”模式，制度性地解决了电票交易对手的信用风险及票款流转不同步的安全问题。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                    使用汇票线平台进行交易时，需要收取服务费吗？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                为了回馈广大注册会员，目前汇票线对于所有注册用户使用本平台进行交易时，都不收取交易服务费用。具体免费时限未定，如果后续调整收费政策（收取服务费用），将以通知形式告知用户。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    企业创建--（执剑人）电子账户前，需要准备什么资料？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">

                                            <li style="background:none">

                                                （1）营业执照正本彩色原件扫描件</br>
                                                （2）法定代表人的身份证正、反面彩色原件扫描件</br>
                                                （3）企业授权委托书扫描件，必须盖有公司公章及法人签章或法人签字</br>
                                                （4）任一对公银行账户，可以是基本户或一般户（收票类型企业，须关联--银行对公账户）</br>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                 注册成为汇票线会员后，忘记登录密码怎么办？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                               点击汇票线“用户登录”界面，右下方“忘记密码”，即可进入修改登录密码界面；按要求输入手机号，获取验证码，修改密码即可。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    --数金执剑人虚拟账户的作用是什么？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">

                                                --数金与汇票线的关系，即类似于淘宝与支付宝的合作关系，为保证用户的票据交易的资金安全，汇票线仅提供给用户一个票据撮合交易的平台，做到“不碰钱、不管票”的原则；用户在平台生成--执剑人虚拟账户，通过--数金研发的--执剑人系统对票据交易款进行安全代管，依托--银行电票系统完成电票流转的验证和判别，保障交易真实安全。
                                            <li >
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                   注册过程中，为什么会出现获取验证码失败的情况？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                您的手机话费不足，或其他原因导致的停机；
                                                被手机上安装的安全软件误判而拦截；
                                                手机信号不佳导致的；
                                                排除上述原因的，可直接咨询汇票线客服，热线：400-772-0575。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                   能否对注册的手机号码进行更换？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                               注册的手机号码可以变更，需要注意变更的手机号码需要注册为平台会员，但不能绑定过企业。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                是否仅有汇票线账号注册人（联系人）才能进行平台操作？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                        并不是仅有汇票线账号注册人（联系人）才能进行平台操作，汇票线平台注册、联系人（管理员）可以授权多个操作员在本平台，操作员可被多家企业授权绑定。
                                                </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                   是否需要在--银行开通公司账户？账户需要开通哪些功能？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                 卖方：持票企业选择，可以关联任一对公银行账户,用于提现使用。
                                                买方：收票企业选择，须关联--银行对公账户才可以进行交易，用于付款账户和签收电票使用。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                   怎样在平台上查看票源信息？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                可在汇票线平台首页的票源信息栏快速浏览票源信息，可随意点击切换“电票、纸票”两个选项，查看不同类型票源信息；还可点击“更多”，查看更多票源信息及参与竞价。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>怎样在平台上查看机构报价信息？

                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                可在汇票线平台首页的机构报价信息栏中快速浏览各机构报价信息，点击“更多”可查看更多机构报价信息及了解各报价信息详情。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                 <li>
                                  什么是汇票助手？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                汇票助手是汇票线平台特有的功能助手，其中包括贴现计算器、开票日历、挂失查询、行号查询、工商查询等一系列方便用户的功能性应用工具，满足用户的多样性工具需求。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li><a href="../../aspx/main/platform.aspx">汇票线平台有什么优势？</a>

                                <li>
                                    如何登陆汇票线平台？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                               点击进入登录页面，如未注册用户需要先注册会员；已注册用户在“登录”页面中输入账号和交易密码，点击“登录”即可。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
<li>交易完成后，出票方跨行提现时收取手续费吗？
                                <div class="dt">
                                    <ul style="width: 82%;background: #ebebeb;">
                                        <li style="background:none">

                                            出票方在汇票线平台提现不收取手续费，此提现费由收票方支付，跨行提现由银行按规定收取手续费。
                                            提现手续费扣费标准：
                                            10W以下（包含10W）                 10元
                                            10W-50W（包含50W）                 15元
                                            50W-100W（包含100W）               20元
                                            100W以上                           0.002% 200元封顶.
                                        </li>
                                    </ul>
</div></li>
                                <li>
                                    登录汇票线平台，为什么会出现登录失败的情况？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                输入的账号或密码不正确；网络问题导致：如有“网页错误”的提示，可稍后尝试。
                                            </li>
                                        </ul>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pj">
                    <div class="pjcj">
                        <div class="wt2">票据常见问题 </div>
                        <div class="wenti3">
                            <ul>
                                <!--<li>
                                    办理电子商业汇票业务具体需要哪些条件？

                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">

                                            <li style="background:none">
                                                一般分为以下两种情况：</br>
                                                (1)银行、财务公司提供电子商业汇票业务服务需具备的条件：a、申请加入经中国人民银行批准建立的电子商业汇票系统；b、具有中华人民共和国组织机构代码和支付系统行号。
                                                <br>
                                                (2)企事业单位客户办理电子商业汇票业务应具备的条件：a、在银行开立人民币结算账户或财务公司开立账户；b、具有中华人民共和国组织机构代码；c、具有数字证书，能够做出电子签名；d、与接入行、接入财务公司签订《电子商业汇票业务服务协议》。
                                                需特别注意：企业在办理电票前，首先要开通企业网银，并且开通电子商业汇票功能。（银行客户经理会帮企业操作、开通。）</br>
                                            </li>
                                        </ul>
                                    </div>
                                </li>-->
                                <li>
                                   “足月”和“不足月”分别指什么？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none" >
                                                足月银行承兑汇票，具体是指贴现日距离出票日一般不超过七天的银行承兑汇票，根据贴现行要求，天数可以有变动。<br />半年期的不足月银行承兑汇票，一般是指剩余日期不足180天，一年期的一般是指剩余日期不足360天。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                 什么叫贴现率？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                贴现率＝[贴现利息]/票据面额×100%
                                                贴现利息=票据金额×贴现天数×贴现年利率/360
                                                贴现利息=汇票金额×贴现天数×贴现月利率/30
                                                贴现天数=贴现到期日-贴现日（注意节假日调整，异地票据加三天、电票不用加）
                                                贴现所得金额=票据金额-贴现利息
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                  电子商业汇票系统支持的最大票据金额是多少？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                             目前而言，电子商业汇票系统支持的最大票据金额为10亿元，人民银行可根据需要进行调整。另外，商业银行、财务公司可在此额度内设定自身系统支持的最大票据金额。
                                                </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    怎么样才表示企业间转让背书成功了？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                 在企业间转让背书过程中，当电子商业汇票系统将票据状态从“背书待签收”修改为“背书已签收”。与此同时，修改票据所有人为被背书人，这样的状态就表示企业间转让背书已经成功。
                                            </li>
                                            </ul>
                                    </div>
                                </li>
                                <li>
                                    大票和小票如何区别？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                本平台通常而言，票面金额大于等于300万元人民币的汇票称为“大票”；票面金额小于300万元人民币的汇票称为“小票”。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                电子商业汇票系统与哪几个系统相连？
                                    <div class="dt">
                                        <ul style="width: 82%;background: #ebebeb;">
                                            <li style="background:none">
                                                 电子商业汇票系统与人民银行大额支付系统、征信系统、人民银行再贴现系统以及商业银行或者财务公司的内部系统相连。
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="margin: -15% 0 0 0;">
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</div>




</body>
</html>