<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>汇票线_平台优势</title>
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="汇票线平台票据交易安全、便利、人性化、服务专业化。" />
    <meta name="viewport" content="width=1200px, initial-scale=1.0, user-scalable=true">
    <meta name=”renderer” content=”webkit”>
    <meta http-equiv=”X-UA-Compatible” content=”IE =Edge,chrome =1″>
    <meta name="baidu-site-verification" content="8wHB899l5W" />
    <meta name="sogou_site_verification" content="QY1qSYeHpf" />
    <meta name="viewport" content="width=1200px, user-scalable=true" />
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <script src="<%templateskin%>/js/jquery.min.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/sweetalert.min.js" type="text/javascript"></script>
    <link href="<%templateskin%>/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/all.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/contenle.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/sweetalert.css" rel="stylesheet" type="text/css" />

</head>
<body  style="background:#f1f1f0">
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <strong><em></em></strong>
    <div class="bg3">
        <div class="banner2"></div>
        <div class="pt3">
            <div class="nav2">
                <ul>
                    <li><a href="/aspx/main/about.aspx">关于我们</a></li>
                    <li><a href="/list-54.html">新闻公告</a></li>
                    <li><a href="/aspx/main/announce.aspx">网站声明</a></li>
                    <li><a href="/aspx/main/platform.aspx" style="background-color: #f55a14; color: #fff; padding: 10px 24px;">平台优势</a></li>
                    <li><a href="/aspx/main/business.aspx">商务合作</a></li>
                    <li><a href="/aspx/main/hr.aspx">招纳贤士</a></li>
                    <li><a href="/aspx/main/help.aspx">帮助中心</a></li>
                    <li><a href="/aspx/main/insurance.aspx">安全保障</a></li>
                </ul>
            </div>
            <div class="an"><img src="pic/四大优势.png" /></div>
          
        </div>
    </div>

    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->

</body>
</html>