<!-- begin #bottombar -->
<div id="bottombar" class="bottom navbar navbar-default navbar-fixed-bottom" ng-controller="bottombarController">
    <!-- begin container-fluid -->
    <div class="container-fluid navbar-bottom">
        <span><a ui-sref ="app.home"><img src="assets/img/t1.png" /></a></span>
        <span><a ui-sref="app.task"><img src="assets/img/t2.png" /></a></span>
        <span><img src="assets/img/t3.png" /></span>
        <span><img src="assets/img/t4.png" /></span>
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #bottombar -->