
<link rel="stylesheet" href="../../templates/main/css/contenle.css" />
<link rel="stylesheet" href="../../www/assets/css/style.css"/>
<style>
    .user-nav-list ul li .icon {
        display: none !important;
    }

    .header {
        position: relative !important;
    }
</style>
<div ng-controller="footerController">
    <div class="container-fluid fop" style="width:1200px">
        <div class="row-fluid">
            <div class="container-fluid fop">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="container-fluid" style="width:115%">
                            <div class="fot">
                                <ul>
                                    <li><a href="/aspx/main/about.aspx" target="_blank">关于我们</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/list-54.html">新闻公告</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/announce.aspx" target="_blank">网站声明</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/platform.aspx" target="_blank">平台优势</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/business.aspx" target="_blank">商务合作</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/hr.aspx" target="_blank">招贤纳士</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/help.aspx" target="_blank">帮助中心</a></li>
                                    <li class="line">|</li>
                                    <li><a href="/aspx/main/insurance.aspx" target="_blank">安全保障</a></li>

                                </ul>
                            </div>
                            <div class="ftjs">
                                <ul>
                                    <li style="width:41%">
                                        <div>
                                            <div class="h_kefu">
                                                <div class="customer-service">客服热线：</div>
                                                <div class="customer-service-phone">400-772-0575</div>
                                                <div class="customer-service-time">客服时间：上午9:00 - 下午17:30（工作日）</div>
                                            </div>



                                        </div>
                                    </li>
                                    <li>

                                        <p class="h_email" style="margin-top:68px"><div class="yximg"></div>邮箱：service@huipiaoxian.com</p>
                                        <p class="h_address" style="margin-top:10px">
                                            <div class="dizimg"></div>地址：上海市浦东新区浦三路21弄55号604室
                                            <span style="margin: 0 0 0 12%;">（银亿滨江中心壹号）</span>
                                        </p>
                                    </li>
                                    <li style="margin-left: 7%; margin-top: -1%;">
                                        <div class="bdes">
                                            <div class="xgo1" style="display:none"><img src="../../templates/main/images/qr-codes-1.png" /><div class="dyh">订阅号</div></div>
                                            <div class="xgo2" style="display:none"><img src="../../templates/main/images/qr-codes-2.png" /><div class="dyh">App</div></div>
                                        </div>
                                        <div class="bcde">
                                            <ul>
                                                <li>
                                                    <div class="kmk1"><img class="wx3" style="margin-left: 1px;margin-top: 16px;" src="../../templates/main/images/wx3.png" /></div>
                                                    <label>微信公众号</label>
                                                </li>
                                                <li>
                                                    <div class="kmk2"><img class="wx2" style="margin-left: 0px;margin-top: 15px;" src="../../templates/main/images/wx2.png" /></div>
                                                    <label>汇票线APP</label>
                                                </li>
                                                <li onclick="javascript: window.open('http://weibo.com/huipiaoxian')">
                                                    <div class="kmk3"><img class="wx1"  style="margin-left: 0px;margin-top:14px"  src="../../templates/main/images/wx1.png" /></div>
                                                    <label>官方微博</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="text-align:center">
                                <p style="color:#333">
                                    <img onclick="javascript: window.location.href = 'http://www.gsxt.gov.cn/corp-query-homepage.html'" src="../../templates/main/images/renmin.png" />opyright 2016  汇票线-上海票趣信息科技有限公司&nbsp; &nbsp; &nbsp; &nbsp;
                                    <img src="../../templates/main/images/icp.jpg">
                                    沪ICP备16031524号-1
                                </p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<script>
    $(".kmk1").hover(function () {
     $(".xgo1").show();
 }, function () {
     $(".xgo1").hide();
 });

    $(".kmk2").hover(function () {
        $(".xgo2").show();
    }, function () {
        $(".xgo2").hide();
    });
</script>