<link rel="stylesheet" type="text/css" href="assets/css/editstyle.css">
<link rel="stylesheet" type="text/css" href="../../templates/main/css/my-custom.css">
<div ng-cloak ng-controller="approveAgentController">
    <!-- 右侧 start-->
    <div class="user-right" style="padding-top: 14px;">
        <div class="right-top col-md-12 col-xs-12 row " style="margin-left: 0px">
            <p style="color:#3a3a3a;">账户中心 > 业务授权</p>
        </div>
        <div class="content col-md-12 col-xs-12 row" style="width: 100%;border-top: 1px solid #ebebeb;margin-top: -2px;height: 980px;margin-left: 0%;">
            <div class="process row col-md-12  col-xs-12" style="padding:0px;margin:4% 0 0 0">
                <div class="table col-md-12 col-xs-12">
                    <!--业务授权-->
                    <ng-form name="agentForm" class="form-horizontal col-md-12 col-xs-12" role="form">
                        <div class="col-md-12 col-xs-12">
                            <!--<label class="col-md-2">审核状态 : </label><span style="color: #f55a14">审核失败</span>-->
                            <div class="agent-content">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>姓名：</label>
                                    <div class="col-md-4  col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>身份证号码：</label>
                                    <div class="col-md-4 col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_cert_no" ng-pattern="/(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{2}$)/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>手机号：</label>
                                    <div class="col-md-4 col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_phone" ng-pattern="/^[1][3|5|7|8][0-9]{9}$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-3 control-label"><span style="color: #f55a14">*</span>经办人身份证 : </label>
                                    <div class="col-sm-3" ngf-select="uploadFiles($files, $invalidFiles, setAgentFrontID)" ngf-pattern="'image/*'" accept="image/jpeg,image/gif,image/png" ngf-max-size="10MB">
                                        <img style="height: 116px; width: 183px;border:1px solid #ccc;display:inline-block;" ng-src="{{agentModel.agent_treasurer_cert_photo_front_address}}" required />
                                    </div>
                                    <div class="col-sm-3" ngf-select="uploadFiles($files, $invalidFiles, setAgentBackID)" ngf-pattern="'image/*'" accept="image/jpeg,image/gif,image/png" ngf-max-size="10MB">
                                        <img style="height: 116px; width: 183px;border:1px solid #ccc;display:inline-block;" ng-src="{{agentModel.agent_treasurer_cert_photo_back_address}}" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3">签订授权委托书：</label>
                                    <div class="col-md-3 col-xs-3">
                                        <!--<input type="button" class="col-md-10 col-xs-10 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-click="EnAuthorizationModel()" value="{{context}}签订《企业授权书》" />-->
                                        <!--<input type="checkbox"/>签订《企业授权书》-->
                                        <input type="checkbox" style="vertical-align:middle; margin-top:-2px;" ng-model="filter.enterprise_proxy_agree" ng-click="EnAuthorizationModel()"><font size="1">签订<a href="#" ng-click="EnAuthorizationModel()">《企业授权委托书》</a></font>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <!--<input type="button" class="col-md-10 col-xs-10 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-click="BusAuthorizationModel()" value="签订《业务授权书》" />-->
                                        <input type="checkbox" style="vertical-align:middle; margin-top:-2px;" ng-model="filter.authorization_cert_agree" ng-click="BusAuthorizationModel()"><font size="1">签订<a href="#" ng-click="BusAuthorizationModel()">《单位授权书》</a></font>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:20px;">
                                    <div class="col-md-12  col-xs-12" style="margin-top:20px;">
                                        <div class="col-md-5 col-xs-5"></div>
                                        <input ng-if="!agentModel || agentModel.isChecked == null" type="button" class="col-md-2  col-xs-2 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-disabled="!filter.enterprise_proxy_agree || !filter.authorization_cert_agree || !agentModel.agent_treasurer_cert_photo_front_id || !agentModel.agent_treasurer_cert_photo_back_id" ng-click="saveAgent()" value="提交审核">
                                        <input ng-if="agentModel.isChecked == -1" type="button" class="col-md-2  col-xs-2 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-disabled="!filter.enterprise_proxy_agree || !filter.authorization_cert_agree || !agentModel.agent_treasurer_cert_photo_front_id || !agentModel.agent_treasurer_cert_photo_back_id" ng-click="saveAgent()" value="重新提交">
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="text-left" style="background-color:#f1f1f0;margin-top:42px;border:1px dashed #ccc;padding:5px;box-shadow: 0px 0px 0px 10px #f2f2f2;"><strong>温馨提示：</strong>业务授权资料提交审核过程中，请保持通讯畅通，汇票线客服人员可能会与您联系。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--签订企业授权书和业务授权书弹出窗-->
                        <div id="modal-EnAuthorization" class="modal fade">
                            <div class="modal-dialog" style="margin-left:calc(50% - 900px/2);">
                                <div class="modal-content" style="width:900px;">
                                    <ng-form name="EnAuthorizationForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="EnAuthorizationClose()" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="modal-title form-group text-center">
                                                <h2>企业授权委托书</h2>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                ...
                                            </div>
                                        </div>
                                        <div class="modal-footer conclude">
                                            <div class="text-right form-group">
                                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="EnAuthorizationAgent()"><i class="fa fa-share-square-o"></i>签订</button>
                                                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="EnAuthorizationClose()"><i class="fa fa-share-square-o"></i> 取消</button>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                        <div id="modal-BusAuthorization" class="modal fade">
                            <div class="modal-dialog" style="margin-left:calc(50% - 900px/2);">
                                <div class="modal-content" style="width:900px;">
                                    <ng-form name="BusAuthorizationForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="modal-title form-group text-center">
                                                <h2>单位授权书</h2>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="authorization-content">
                                                    <p>致：兴业银行股份有限公司上海分行</p>
                                                    <p class="retract">我公司无条件不可撤销地授权兴业数字金融服务（上海）股份有限公司（以下简称“兴业数金”）以及贵行有权查询我公司名下电子商业汇票系统中各类电子票据基本信息、票据交易流转信息、交易明细等信息，并将上述信息根据业务需要进行复制、转储和使用。由此产生的相关法律责任均由我公司承担。</p>
                                                    <p>抄送：兴业数字金融服务（上海）股份有限公司</p>
                                                    <p class="retract">特此授权。</p>
                                                    <p class="content-page">单位名称：{{singleEnterprise.enterprise_name}}</p>
                                                    <p class="content-page">法定代表人签字或盖章：</p>
                                                    <p class="content-page">签订日期：{{newYear}}年{{newMonth}}月{{newToday}}日</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer conclude">
                                            <div class="text-right form-group">
                                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="BusAuthorizationAgent()"><i class="fa fa-share-square-o"></i>签订</button>
                                                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="BusAuthorizationClose()"><i class="fa fa-share-square-o"></i> 取消</button>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</div>
