<link rel="stylesheet" type="text/css" href="assets/css/editstyle.css">
<link rel="stylesheet" type="text/css" href="../../templates/main/css/my-custom.css">
<div ng-cloak ng-controller="approveAgentController">
    <!-- 右侧 start-->
    <div class="user-right" style="padding-top: 14px;">
        <div class="right-top col-md-12 col-xs-12 row " style="margin-left: 0px">
            <p style="color:#3a3a3a;">账户中心 > 业务授权</p>
        </div>
        <div class="content col-md-12 col-xs-12 row" style="width: 100%;border-top: 1px solid #ebebeb;margin-top: -2px;height: 980px;margin-left: 0%;">
            <div class="process row col-md-12  col-xs-12" style="padding:0px;margin:4% 0 0 0">
                <div class="table col-md-12 col-xs-12">
                    <!--业务授权-->
                    <ng-form name="agentForm" class="form-horizontal col-md-12 col-xs-12" role="form">
                        <div class="col-md-12 col-xs-12">
                            <!--<label class="col-md-2">审核状态 : </label><span style="color: #f55a14">审核失败</span>-->
                            <div class="agent-content">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>姓名：</label>
                                    <div class="col-md-4  col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>身份证号码：</label>
                                    <div class="col-md-4 col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_cert_no" ng-pattern="/(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{2}$)/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3"><span style="color: #f55a14">*</span>手机号：</label>
                                    <div class="col-md-4 col-xs-4">
                                        <input type="text" class="form-control" ng-model="agentModel.agent_treasurer_phone" ng-pattern="/^[1][3|5|7|8][0-9]{9}$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-3 control-label"><span style="color: #f55a14">*</span>经办人身份证 : </label>
                                    <div class="col-sm-3" ngf-select="uploadFiles($files, $invalidFiles, setAgentFrontID)" ngf-pattern="'image/*'" accept="image/jpeg,image/gif,image/png" ngf-max-size="10MB">
                                        <img style="height: 116px; width: 183px;border:1px solid #ccc;display:inline-block;" ng-src="{{agentModel.agent_treasurer_cert_photo_front_address}}" required />
                                    </div>
                                    <div class="col-sm-3" ngf-select="uploadFiles($files, $invalidFiles, setAgentBackID)" ngf-pattern="'image/*'" accept="image/jpeg,image/gif,image/png" ngf-max-size="10MB">
                                        <img style="height: 116px; width: 183px;border:1px solid #ccc;display:inline-block;" ng-src="{{agentModel.agent_treasurer_cert_photo_back_address}}" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-3">签订授权委托书：</label>
                                    <div class="col-md-3 col-xs-3">
                                        <!--<input type="button" class="col-md-10 col-xs-10 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-click="EnAuthorizationModel()" value="{{context}}签订《企业授权书》" />-->
                                        <!--<input type="checkbox"/>签订《企业授权书》-->
                                        <input type="checkbox" style="vertical-align:middle; margin-top:-2px;" ng-model="filter.enterprise_proxy_agree" ng-click="EnAuthorizationModel()"><font size="1">签订<a href="#" ng-click="EnAuthorizationModel()">《企业授权委托书》</a></font>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <!--<input type="button" class="col-md-10 col-xs-10 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-click="BusAuthorizationModel()" value="签订《业务授权书》" />-->
                                        <input type="checkbox" style="vertical-align:middle; margin-top:-2px;" ng-model="filter.authorization_cert_agree" ng-click="BusAuthorizationModel()"><font size="1">签订<a href="#" ng-click="BusAuthorizationModel()">《单位授权书》</a></font>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:20px;">
                                    <div class="col-md-12  col-xs-12" style="margin-top:20px;">
                                        <div class="col-md-5 col-xs-5"></div>
                                        <input ng-if="!agentModel || agentModel.isChecked == null" type="button" class="col-md-2  col-xs-2 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-disabled="!filter.enterprise_proxy_agree || !filter.authorization_cert_agree || !agentModel.agent_treasurer_cert_photo_front_id || !agentModel.agent_treasurer_cert_photo_back_id" ng-click="saveAgent()" value="提交审核">
                                        <input ng-if="agentModel.isChecked == -1" type="button" class="col-md-2  col-xs-2 text-center btn" style="background-color: #f55a14;border: 0px;color: white;" ng-disabled="!filter.enterprise_proxy_agree || !filter.authorization_cert_agree || !agentModel.agent_treasurer_cert_photo_front_id || !agentModel.agent_treasurer_cert_photo_back_id" ng-click="saveAgent()" value="重新提交">
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="text-left" style="background-color:#f1f1f0;margin-top:42px;border:1px dashed #ccc;padding:5px;box-shadow: 0px 0px 0px 10px #f2f2f2;"><strong>温馨提示：</strong>业务授权资料提交审核过程中，请保持通讯畅通，汇票线客服人员可能会与您联系。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--签订企业授权书和业务授权书弹出窗-->
                        <div id="modal-EnAuthorization" class="modal fade">
                            <div class="modal-dialog" style="margin-left:calc(50% - 900px/2);">
                                <div class="modal-content" style="width:900px;">
                                    <ng-form name="EnAuthorizationForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="EnAuthorizationClose()" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="modal-title form-group text-center">
                                                <h2>企业授权委托书</h2>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="authorization-content">
                                                    <p>致：	兴业数字金融服务（上海）股份有限公司（兴业银行集团子公司，执剑人平台运营方，以下简称“兴业数金”），上海票趣信息科技有限公司（汇票线运营方，以下简称“汇票线”）</p>
                                                    <p>抄送：兴业银行股份有限公司（以下简称“兴业银行”）</p>
                                                    <p class="retract">兹授权我单位员工<strong>{{model.customer_name}}</strong>先生/小姐，身份证号码<strong>{{model.id_number}}</strong>，手机号码<strong>{{model.phone_number}}</strong>，为汇票线平台操作员与兴业电子账户电子合同办理人员。我单位确保其具有完全的民事权利能力与行为能力，全权代表我单位行使如下事务：在汇票线注册，汇票信息发布、电票转让服务等操作与兴业数金“倚天鉴”电子合同服务平台创建账户、电子合同签署存证、申请数字签名等全部手续。</p>
                                                    <p class="retract">兹授权我单位员工<strong>{{agentModel.agent_treasurer_name}}</strong>先生/小姐，身份证号码<strong>{{agentModel.agent_treasurer_cert_no}}</strong>，手机号码<strong>{{agentModel.agent_treasurer_phone}}</strong>，为兴业电子账户经办人。我单位确保其具有完全的民事权利能力与行为能力，全权代表我单位行使如下事务：在兴业数金“执剑人”票据见证代管系统办理账户资金在线查询、转账、提现等交易指令操作；</p>
                                                    <p class="retract"><strong>我单位接受汇票线、兴业数金、兴业银行及任何相关方为我单位联合提供的票据见证、资金代管、资金汇划、电子合同签署及存证、数字签名等服务，我单位无条件不可撤销地委托并授权兴业数金以其名义在兴业银行开立“票据流转资金专户”，专项用于我单位在执剑人票据见证代管系统中票据业务项下流转资金的代管、划转等事项；我单位无条件不可撤销地同意并接受兴业数金及相关方为我单位提供的数字证书发放、电子合同在线签署及存证等综合服务。</strong></p>
                                                    <p class="retract">我单位同意并授权兴业数金与汇票线协助办理相关手续，授权有效期与我单位在汇票线注册的账户之有效期限相同或以另行书面变更授权为准。上述员工在汇票线和兴业数金“执剑人”票据见证代管系统、“倚天鉴”电子合同服务平台进行的所有操作行为均已经取得我司书面授权，所有操作行为均视为我司合法有效操作行为。</p>
                                                    <p class="retract">我司已经知悉并同意：</p>
                                                    <p class="retract">1、汇票线、兴业数金及相关方公布的业务操作流程及相关协议已经我单位仔细阅读理解并同意相关规定，任一操作环节完成之时起须在30分钟内完成下一操作环节，若我司超过30分钟未在汇票线或兴业数金“执剑人”票据见证代管系统完成下一操作环节的，我司充分授权同意并认可汇票线、兴业数金及兴业银行任一方或者多方基于票据状态与资金代管实际情况进行后续操作处理，直至交易结束，由此产生的全部后果均由我司承受。</p>
                                                    <p class="retract">2、兴业数金“倚天鉴”电子合同服务平台服务协议、业务操作规程等相关约定已经我单位仔细阅读理解并同意，我单位上述授权人员在倚天鉴电子合同服务平台开展的所有操作行为均视为我司合法有效操作行为。</p>
                                                    <p class="retract"><strong>本授权书自我单位签章之日起生效，扫描件与原件具有同等法律效力；</strong>在汇票线、兴业数金或兴业银行等未收妥我司变更被授权员工的书面授权书之前或我司在汇票线注册的账户无效、被注销之前持续有效。</p>
                                                    <p class="content-page">单位名称：{{singleEnterprise.enterprise_name}}</p>
                                                    <p class="content-page">法定代表人签字或盖章：</p>
                                                    <p class="content-page">签订日期：{{newYear}}年{{newMonth}}月{{newToday}}日</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer conclude">
                                            <div class="text-right form-group">
                                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="EnAuthorizationAgent()"><i class="fa fa-share-square-o"></i>签订</button>
                                                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="EnAuthorizationClose()"><i class="fa fa-share-square-o"></i> 取消</button>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                        <div id="modal-BusAuthorization" class="modal fade">
                            <div class="modal-dialog" style="margin-left:calc(50% - 900px/2);">
                                <div class="modal-content" style="width:900px;">
                                    <ng-form name="BusAuthorizationForm" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="modal-title form-group text-center">
                                                <h2>单位授权书</h2>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="authorization-content">
                                                    <p>致：兴业银行股份有限公司上海分行</p>
                                                    <p class="retract">我公司无条件不可撤销地授权兴业数字金融服务（上海）股份有限公司（以下简称“兴业数金”）以及贵行有权查询我公司名下电子商业汇票系统中各类电子票据基本信息、票据交易流转信息、交易明细等信息，并将上述信息根据业务需要进行复制、转储和使用。由此产生的相关法律责任均由我公司承担。</p>
                                                    <p>抄送：兴业数字金融服务（上海）股份有限公司</p>
                                                    <p class="retract">特此授权。</p>
                                                    <p class="content-page">单位名称：{{singleEnterprise.enterprise_name}}</p>
                                                    <p class="content-page">法定代表人签字或盖章：</p>
                                                    <p class="content-page">签订日期：{{newYear}}年{{newMonth}}月{{newToday}}日</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer conclude">
                                            <div class="text-right form-group">
                                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="BusAuthorizationAgent()"><i class="fa fa-share-square-o"></i>签订</button>
                                                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="BusAuthorizationClose()"><i class="fa fa-share-square-o"></i> 取消</button>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</div>

