<div ng-controller="enterpriseUserController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                           data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title">注册客户查询服务</h4>
                </div>
                <div class="panel-body">
                    <div class="form-inline filter-option">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <input class="form-control" type="text" ng-model="filter.phoneNumber"
                                           placeholder="管理员或者操作员手机号(严格匹配)">
                                    <input class="form-control" type="text" ng-model="filter.customerName"
                                           placeholder="客户名称(严格匹配)">
                                    <input class="form-control" type="text" ng-model="filter.personPhone"
                                           placeholder="企业名称">
                                    <input class="form-control" type="text" ng-model="filter.accountNumber"
                                           placeholder="银行账号">

                                    <button class="btn btn-sm btn-info" ng-click="reflash()"><i
                                            class="fa fa-search"></i> 筛选
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="data-table" ng-table="tableParams" template-pagination="template/pagination.html"
                           class="table table-striped table-bordered table-hover table-condensed">
                        <tr ng-repeat="item in $data">
                            <td data-title="'序号'" width="10%" class="text-center">{{ first + $index }}</td>
                            <td data-title="'企业名称'" sortable="'enterprise_name'" class="text-center">{{
                                item.enterprise_name }}
                            </td>
                            <td data-title="'企业市区地址'" class="text-center">{{ item.enterprise_address }}</td>
                            <td data-title="'企业电话'" class="text-center">{{ item.telephone }}</td>
                            <td data-title="'企业传真'" class="text-center">{{ item.fax_number }}</td>
                            <td data-title="'企业管理员名称'" class="text-center">{{ item.enterprise_admin.name }}</td>
                            <td data-title="'企业管理员电话'" class="text-center">{{ item.enterprise_admin.phone }}</td>
                            <td class="text-center width-100 text-nowrap">
                                <button class="btn btn-info btn-xs" ng-click="show(item)"><i class="fa fa-edit"></i> 详细
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal fade" id="modal-show">
                    <div class="modal-dialog" style="width:1100px">
                        <div class="modal-content">
                            <ng-form name="checkForm" novalidate>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title"><i class="fa fa-lg fa-edit text-success"></i>企业用户详情</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">

                                        <div class="form-group width-full">
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 企业名称：</label>
                                            <div class="col-md-4 form-control-static">
                                                {{ model.enterprise_admin.name }}
                                            </div>
                                        </div>
                                        <div class="form-group width-full">
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 企业电话：</label>
                                            <div class="col-md-4 form-control-static">
                                                {{ model.telephone }}
                                            </div>
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 企业传真：</label>
                                            <div class="col-md-4 form-control-static">
                                                {{ model.fax_number }}
                                            </div>
                                        </div>
                                        <div class="form-group width-full">
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 管理员名称：</label>
                                            <div class="col-md-4 form-control-static">
                                                {{ model.enterprise_admin.name }}
                                            </div>
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 管理员手机：</label>
                                            <div class="col-md-4 form-control-static">
                                                {{ model.enterprise_admin.phone }}
                                            </div>
                                        </div>
                                        <div class="form-group width-full">
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 企业详细地址：</label>
                                            <div class="col-md-8 form-control-static">
                                                {{ model.enterprise_address }}
                                            </div>
                                        </div>
                                        <div class="form-group width-full">
                                            <label class="control-label col-md-2"><span class="g-orange">*</span> 描述：</label>
                                            <div class="col-md-8 form-control-static">
                                                {{ model.description }}
                                            </div>
                                        </div>
                                        <div class="form-group width-full">
                                            <h4>企业操作员</h4>
                                            <hr/>
                                            <table class="table table-striped table-bordered table-hover table-condensed" ng-if="model.enterprise_operators.length > 0">
                                                <tr>
                                                    <th  class="text-center">操作员名称</th>
                                                    <th  class="text-center">操作员手机号</th>
                                                </tr>
                                                <tr ng-repeat="item in model.enterprise_operators">
                                                    <td  class="text-center">{{ item.name }}</td>
                                                    <td  class="text-center">{{ item.phone }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="form-group width-full">
                                            <h4>出票账户</h4>
                                            <hr/>
                                            <table class="table table-striped table-bordered table-hover table-condensed" ng-if="model.enterprise_accounts_501.length > 0">
                                                <tr>
                                                    <th  class="text-center">账户名称</th>
                                                    <th  class="text-center">账户号码</th>
                                                </tr>
                                                <tr ng-repeat="item in model.enterprise_accounts_501">
                                                    <td  class="text-center">{{ item.account_person }}</td>
                                                    <td  class="text-center">{{ item.account_number }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="form-group width-full">
                                            <h4>收票账户</h4>
                                            <hr/>
                                            <table class="table table-striped table-bordered table-hover table-condensed" ng-if="model.enterprise_accounts_502.length > 0">
                                                <tr>
                                                    <th  class="text-center">账户名称</th>
                                                    <th  class="text-center">账户号码</th>
                                                </tr>
                                                <tr ng-repeat="item in model.enterprise_accounts_502">
                                                    <td  class="text-center">{{ item.account_person }}</td>
                                                    <td  class="text-center">{{ item.account_number }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-white" data-dismiss="modal"><i
                                            class="fa fa-share-square-o"></i> 关闭
                                    </button>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

