<div ng-cloak ng-controller="forgetPasswordController">
    <div class="kind-money-all-bg reg-padding h_pass">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="ctop">
                    <div class="top">
                        <ul>
                            <li>
                                <div ng-class="{'leftl':true,'forgetS':filter.isCheck == 1 || filter.isCheck == 2 || filter.isCheck == 3}">1.填写手机号码</div>
                                <div class="leftls"><img src="../../templates/main/images/btf.png" /></div>
                            </li>
                            <li>
                                <div ng-class="{'leftl':true,'forgetS':filter.isCheck == 2 || filter.isCheck == 3}">2.修改密码</div>
                                <div class="leftls"><img src="../../templates/main/images/btf.png" /></div>
                            </li>
                            <li>
                                <div ng-class="{'leftl':true,'forgetS':filter.isCheck == 3}">3.修改完成</div>
                            </li>
                        </ul>
                    </div>
                    <div class="xl" ng-if="filter.isCheck == 1"></div>
                    <div class="xls" ng-if="filter.isCheck == 2"></div>
                    <div class="xlk" ng-if="filter.isCheck == 3"></div>
                    <div ng-if="filter.isCheck == 1">
                        <ng-form name="forgetPas">
                            <div class="reg-form-list kg">
                                <div class="reg-form-list-cont col-md-12 row sj">
                                    <label class="reg-icon reg-icon-1"></label>
                                    <input class="reg-ipt col-sm-12" type="text" name="phone" ng-model="model.phone_number" ng-pattern="/^1\d{10}$/" placeholder="请输入手机号码" autocomplete="off" autofocus required>
                                </div>
                                <div style="color:red;height:70px;line-height:70px;overflow:hidden;font-size: 12px;" class="col-md-4">
                                    <div ng-show="forgetPas.phone.$invalid && forgetPas.phone.$dirty"><img src="assets/img/wrong.png" alt="wrong" />请输入有效手机号码！</div>
                                </div>
                            </div>
                            <div class="reg-form-list">
                                <div class="reg-form-list-cont col-md-12 row sj">
                                    <label class="reg-icon reg-icon-3"></label>
                                    <input class="reg-mess col-md-8 col-sm-8" type="text" ng-model="model.phone_verify_code" placeholder="请输入短信验证码">
                                    <button class="btn btn-sup col-md-4 col-sm-4" ng-class="{'btn-mess':filter.filter_v == 1,'btn-success':filter.filter_v == 2}" id="yzmkl" ng-click="getVerify()" ng-disabled="disableVerify || (!model.phone_number || model.phone_number.length != 11)">{{ verifyStr }}</button>
                                </div>
                            </div>
                            <div class="reg-form-list col-md-12 row sj">
                                <input type="button" class="xb" ng-click="hupdate()" value="下一步" />
                            </div>
                        </ng-form>
                    </div>
                    <div ng-if="filter.isCheck == 2">
                        <ng-form>
                            <div class="reg-form-list kg">
                                <div class="reg-form-list-cont col-md-12 row sj">
                                    <label class="reg-icon reg-icon-2"></label>
                                    <input class="reg-ipt col-sm-12" type="password" required ng-model="model.new_password" placeholder="请设置6-12位新密码，建议包含数字和字母">
                                </div>
                            </div>
                            <div class="reg-form-list">
                                <div class="reg-form-list-cont col-md-12 row sj">
                                    <label class="reg-icon reg-icon-2"></label>
                                    <input class="reg-ipt col-sm-12" type="password" required ng-model="model.new_password2" placeholder="请再次输入新密码">
                                </div>
                            </div>

                            <div class="reg-form-list col-md-12 row sj">
                                <button class="btn btn-reg col-md-12 col-sm-12" ng-click="update()">下一步</button>
                            </div>
                        </ng-form>
                    </div>
                    <div ng-if="filter.isCheck == 3">
                        <ng-form>
                            <div class="xlkp hf">密码修改已完成！</div>
                            <div class="xlkp hb"><a href="/www/index.html#/app/loginInfo" style="color:#0026ff">前往登录 > ></a></div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


