<div ng-cloak ng-controller="modifyPasswordController">
  <div class="bill-query-cont text-center user-right" style="text-align:left;margin-top:0%">
      <div class="right-top  col-md-12 col-xs-12 row" style="margin-left: 0px;margin-bottom: 3%;">
          <p>我的账户 > 安全中心</p>
      </div>
      <div class="col-md-2 col-xs-2 col-sm-2" style="margin-left: -15px;">
          <div class="billtypestylecurrent" id="customerPassword" style="text-align: center;height: 60px;line-height: 60px;position: relative;z-index: 10;" ng-click="choicePassword()"><a href="" class="zhende" id="password">登陆密码</a></div>
      </div>
      <div class="col-md-2 col-xs-2 col-sm-2 ">
          <div class="billtypestyleprevious" id="customerPhone" style="text-align: center;height: 60px;line-height: 60px;position: relative;z-index: 10;" ng-click="choicePhoneNumber()"><a href="" id="phoneNumber">手机绑定</a></div>
      </div>
      <hr class="col-md-12 col-xs-12" style="width: 95%; margin-top:-1px;height:1px;background:#ff5a14" />
      <div ng-if="filter.choicePassword==1">
          <div class="bill-query-cont text-center" style="text-align:center;padding-bottom:12px;margin-top:1%">
              <div class="hpx-box-hd   col-md-6 col-xs-6" style="margin-left:5%"> 修改密码 </div><div class="col-md-6 col-xs-6"></div>
              <div class="col-md-12 col-xs-12">
                  <ng-form>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-2" align='right'><span class="g-orange">*</span>旧密码</label>
                          <input type="password" class="col-xs-3 col-sm-3" ng-model="model.password" style="width:220px;height:30px;border:1px solid #ebebeb" />
                      </div>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-2" align='right'><span class="g-orange">*</span>新密码</label>
                          <input type="password" class="col-xs-3 col-sm-3" ng-model="model.new_password"  style="width:220px;height:30px;border:1px solid #ebebeb" />
                      </div>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-2" align='right'><span class="g-orange">*</span>确认密码</label>
                          <input type="password" class="col-xs-3 col-sm-3" ng-model="model.re_new_password" style="width:220px;height:30px;border:1px solid #ebebeb"  />
                      </div>
                      <div class="text-center bill-button">
                          <div class="col-md-3 col-xs-3 offset-1"><button ng-click="update()" style="background-color: #fff;color:orangered; width: 130px;height: 38px;font-size:18px;border:1px solid orangered;border-radius:0px;margin-left: 88%;" class="btn btn-block btn-color-register">修改密码</button></div>
                      </div>
                  </ng-form>
              </div>
          </div>
      </div>
      <div ng-if="filter.choicePhoneNumber==1">
          <div class="bill-query-cont text-center" style="text-align:center;padding-bottom:12px;margin-top:1%;margin-right:4%">
              <div class="hpx-box-hd col-md-9 col-xs-9"> 修改绑定手机 </div>
              <div class="col-md-12 col-xs-12">
                  <ng-form>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-3" align='right' style="font-size:16px;">原手机号码</label>
                          <span class="col-md-5 col-xs-5" style="padding:0;text-align:left;">{{ customerInfo.phone_number }}</span>
                      </div>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-3" align='right' style="font-size:16px;">原手机验证码</label>
                          <div class="input-group   col-md-5 col-xs-5">
                              <input class="form-control" ng-model="changePhoneModel.phone_verify_code"  style="width:220px;height:30px;border:1px solid #ebebeb"/>
                              <div class="input-group-addon btn" ng-class="{'btn-success':filter.filter_v == 1}" ng-click="getOldPhoneVerify()" style="background:#e2e2e2;border-radius:0px" ng-disabled="changePhoneModel.disableOldPhoneVerify">{{ changePhoneModel.oldPhoneVerifyStr }}</div>
                          </div>
                      </div>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-3" align='right' style="font-size:16px;">新手机号码</label>
                          <div class="input-group   col-md-5 col-xs-5">
                              <input class="form-control" ng-model="changePhoneModel.new_phone_number" style="width:315px;height:30px;border:1px solid #ebebeb" />
                          </div>
                      </div>
                      <div class="controls1 mt10 row">
                          <label class="control-label col-xs-3 col-sm-3" align='right' style="font-size:16px;">新手机验证码</label>
                          <div class="input-group col-md-5 col-xs-5">
                              <input class="form-control" ng-model="changePhoneModel.new_phone_verify_code" style="width:220px;height:30px;border:1px solid #ebebeb" />
                              <div class="input-group-addon btn" ng-class="{'btn-success':filter.filter_v == 1}" ng-click="getNewPhoneVerify()" style="background:#e2e2e2;border-radius:0px" ng-disabled="changePhoneModel.disableNewPhoneVerify">{{ changePhoneModel.newPhoneVerifyStr }}</div>
                          </div>
                      </div>
                      <div class="text-center bill-button">
                          <div class="col-md-2 col-xs-2"></div>
                          <div class="col-md-3 col-xs-3"><button ng-click="changePhone()"  style="background-color: #fff;color:orangered; width: 130px;height: 38px;font-size:18px;border:1px solid orangered;border-radius:0px" class="btn btn-block btn-color-register">修改手机</button></div>
                          <div class="col-md-3 col-xs-3"><button ng-click="tosignon()" style="background-color: #ff5a14;color:#fff; width: 130px;height: 38px;font-size:18px;border-radius:0px" class="btn btn-block btn-color-register">返回登录</button></div>
                      </div>
                  </ng-form>
              </div>
          </div>
      </div>
  </div>
</div>
