<div>
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a ui-sref="app.home">延锋江森制造运行管理系统</a></li>
        <li class="active">我的任务</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><i class="fa fa-lg text-success fa-fax"></i> 我的任务</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">我的任务</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-bolt"></i></a>
                                    203 - 天平室 断电报警 12分钟前
                                </td>
                                <td>&gt;</td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-warning btn-icon btn-circle btn-sm"><i class="fa fa-tint"></i></a>
                                    105 - 前处理二室 漏水报警 2小时前
                                </td>
                                <td>&gt;</td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-wrench"></i></a>
                                    101 - ICP－MS室 光谱仪 报修 1天前
                                </td>
                                <td>&gt;</td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
