<div ng-controller="modifyPasswordController">
    <div class="bill-query-cont text-center" style="text-align:center;">
        <div class="hpx-box-hd" style="margin-left:-500px;"> 修改密码 </div>
        <ng-form>
            <div class="controls1 mt10 row">
                <label class="control-label col-xs-3 col-sm-2"><span class="g-orange">*</span>旧密码</label>
                <input class="col-xs-3 col-sm-3" ng-model="model.password" />
            </div>
            <div class="controls1 mt10 row">
                <label class="control-label col-xs-3 col-sm-2"><span class="g-orange">*</span>新密码</label>
                <input class="col-xs-3 col-sm-3" ng-model="model.new_password" />
            </div>
            <div class="text-center bill-button">
                <div class="col-md-2 col-xs-3"><button ng-click="update()" class="btn btn-block btn-color-register">重置密码</button></div>
                <div class="col-md-2 col-xs-3"><button ng-click="tosignon()" class="btn btn-block btn-color-register">返回登录</button></div>
            </div>
        </ng-form>
    </div>
</div>
