<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="list" type="list" page="list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="list.html" pagesize="10">
    <item path="list-{0}-{1}.aspx" pattern="list-(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="list-{0}.aspx" pattern="list-(\d+).aspx" querystring="category_id=$1" />
  </rewrite>
  <rewrite name="show" type="detail" page="show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="show.html">
    <item path="show-{0}.aspx" pattern="show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="about" type="detail" page="about.aspx" inherit="DTcms.Web.UI.Page.index" templet="about.html" />
  <rewrite name="announce" type="detail" page="announce.aspx" inherit="DTcms.Web.UI.Page.index" templet="announce.html" />
  <rewrite name="business" type="detail" page="business.aspx" inherit="DTcms.Web.UI.Page.index" templet="business.html" />
  <rewrite name="guide1" type="detail" page="guide1.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide1.html" />
  <rewrite name="guide2" type="detail" page="guide2.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide2.html" />
  <rewrite name="guide3" type="detail" page="guide3.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide3.html" />
  <rewrite name="guide4" type="detail" page="guide4.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide4.html" />
  <rewrite name="help" type="detail" page="help.aspx" inherit="DTcms.Web.UI.Page.index" templet="help.html" />
  <rewrite name="hr" type="detail" page="hr.aspx" inherit="DTcms.Web.UI.Page.index" templet="hr.html" />
  <rewrite name="insurance" type="detail" page="insurance.aspx" inherit="DTcms.Web.UI.Page.index" templet="insurance.html" />
  <rewrite name="platform" type="detail" page="platform.aspx" inherit="DTcms.Web.UI.Page.index" templet="platform.html" />
  <rewrite name="Loadapp" type="detail" page="Loadapp.aspx" inherit="DTcms.Web.UI.Page.index" templet="Loadapp.html" />
  <rewrite name="Extension" type="detail" page="Extension.aspx" inherit="DTcms.Web.UI.Page.index" templet="Extension.html" />
  <rewrite name="guide5" type="detail" page="guide5.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide5.html" />
  <rewrite name="guide6" type="detail" page="guide6.aspx" inherit="DTcms.Web.UI.Page.index" templet="guide6.html" />
  <rewrite name="Rease" type="detail" page="Rease.aspx" inherit="DTcms.Web.UI.Page.index" templet="Rease.html" />
  <rewrite name="partner" type="detail" page="partner.aspx" inherit="DTcms.Web.UI.Page.index" templet="partner.html" />
</urls>