.user-right{
    width: 80%;
    background-color: white;
}
.user-right .right-top{
    width: 100%;
    height: 45px;
    background-color:white;
}
.user-right p{
    padding-top: 10px;
    padding-left: 10px;
}
.user-right .content{
    background-color: white;
}
.process{
    width: 90%;
    padding-left: 60px;
    padding-top:14px ;
    height: 130px;
    float: left;
}
.process1{
    width: 20%;
    height: 20px;
    float: left;
}

.process1 img{
    padding-left:15px;
}

.process1 p {
    color: #1a2b71;
    font-size: 15px;
    padding-top: -5px;
}
.p-line{
    width: 140px;
    margin-top:20px;
    height: 2px;
    float: left;
}
.process2{
    width: 15%;
    height: 60px;
    float: left;
}

.process2 img{
    padding-top: 5px;
    padding-left:10px;
}
.process2 p{
    padding-top: 10px;
    color: #1a2b71 ;
    font-size: 15px;
}
.process3{
    width: 15%;
    height: 60px;
    float: left;
}

.process3 img{
    padding-top: 10px;
    padding-left:10px;
}
.process3 p{
    padding-top: 5px;
    color: #1a2b71 ;
    font-size: 15px;
}
.explain{

    height: 40px;
    /*padding-left: 50px;*/
    padding-left:8px;
    float: left;
}
.line{
    height: 0px;
    background-color: #ebebeb;
    float: left;
}
.explain p {
    line-height: 200%;
    font-size: 13px;
    color: #505050;
}
.explain p span{
    color: #f55a14;
}
.table{
    margin-top:-20px;
    float: left;
    background-color: white;
}
.table .phone{

    margin-top: 7px;
    width: 500px;
    height: 40px;
    float: left;
}
.phone p{
    width: 10%;
    color: #505050;
    font-size: 18px;
    float: left;
}
.phone p span{
    color: #f55a14;
}
.phone .phone_t{
    width: 30%;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
}

.sex{
    margin-left: 140px;
    margin-top: 7px;
    width: 500px;
    height: 40px;
    float: left;
}

.sex p{
    width: 70px;
    color: #505050;
    font-size: 18px;
    float: left;
}
.sex p span{
    color: #f55a14;
}
.sex .sex_t{
    width: 50px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
}

.deal{
    margin-left: 103px;
    margin-top: 7px;
    width: 500px;
    height: 40px;
    float: left;
}

.deal p{
    width: 120px;
    color: #505050;
    font-size: 18px;
    float: left;
}
.deal p span{
    color: #f55a14;
}
.deal .deal_t{
    width: 70px;
    height: 30px;
    margin-left: 0px;
    margin-top: 5px;
    float: left;
}
.deal img{
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}


.address{
    margin-left: 113px;
    margin-top: 7px;
    width: 500px;
    height: 40px;
    float: left;
}

.address p{
    width: 120px;
    color: #505050;
    font-size: 18px;
    float: left;
}

.address .deal_t{
    width: 200px;
    height: 30px;
    margin-left: -10px;
    margin-top: 5px;
    float: left;
}

.study{
    margin-left: 113px;
    margin-top: 7px;
    width: 500px;
    height: 40px;
    float: left;
}

.study p{
    width: 120px;
    color: #505050;
    font-size: 18px;
    float: left;
}

.study .deal_t{
    width: 200px;
    height: 30px;
    margin-left: -10px;
    margin-top: 5px;
    float: left;
}
.import_1{
    width: 250px;
    height: 130px;
    margin-left: 223px;
    float: left;
}
.import_1 img{
    margin-top: 10px;
    width: 180px;
    height: 120px;
    float: left;
}
.import_1 p{
    padding-top: 110px;
    color: #505050;
    float: left;
}
.import_2{
    width: 530px;
    height: 130px;
    margin-left: 223px;
    float: left;
}
.import_2 img{
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 100px;
    float: left;
}
.import_2 p{
    padding-top: 90px;
    color: #505050;
    float: left;
}
.sure{
    width: 500px;
    height: 50px;
    float: left;
}
.sure input{
    width: 200px;
    height: 40px;
    background-color: #f55a14;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-left: 220px;
}
.btn-xs{
        padding:5px 12px;
    }
    .btn-warning {
        color: #fff!important;
        background-color: #ff5a14!important;
        border-color: #ff5a14!important;
    }

/*------已认证css start------------------------------------------------------------------------*/
/*btn------------------*/

.add{

    margin-left: 45px;
    margin-right: 10px;
    border: none;
    background-color: #f55a14;
    border-radius: 2px;color: white
}

.chg{
    margin-left: 10px;
    border: 1px solid #f55a14;
    border-radius: 2px;
    color: #f55a14;
}
.sub{
    background-color: #f55a14;
    border: none;
    border-radius: 2px;
    color: white ;
    margin-top: -10px
}
.band{
    background-color: #1a2b71;
    color: white ;
    margin-top: -0.5%
}
.deband{
    background-color: #1a2b71;
    color: white ;
    margin-top: -0.5%
}
/*box------------------*/
.bigbox{
    padding: 0.4%;
    padding-left: 0.6%;
    border: 3px solid #f55a14;


}
.smallbox{
    width: 99.7%;
    height: 99.2%;
    border: 1px solid  #f55a14;
    padding: 20% 20% 10% 20%

}

.renzheng{
    margin-top: -28%;
    margin-left: -27%;
}



.line-m{
    padding-top: 3% ;
    margin-left: 2%;
    border: 2px solid #d7d7d7
}

/*------已认证css end------------------------------------------------------------------------*/

.nowarp-hidden {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}