
<ion-view cache-view="false">
    <ion-nav-title>
        账户绑定
    </ion-nav-title>
    <ion-content>


        <div class="page66">
            <div class="part1" ng-if="accountTypeCode == 501">注：（卖方/出票方可绑定任一银行账户）</div>
            <div class="part1" ng-if="accountTypeCode == 502">注：（买方/收票方须绑定兴业银行账户）</div>
            <div class="part2">
                <h3>客户名称：{{ model.enterprise_person }}</h3>
                <ul>
                    <li><span>银行名称：</span><input type="text" ng-model="model.account_person" placeholder="请输入银行名称"></li>
                    <li><span>开户行行号：</span><input type="text" ng-model="model.bank_number" placeholder="请输入开户行行号"></li>
                    <li><span>账号：</span><input type="text" ng-model="model.account_number" placeholder="请输入账号"></li>
                    <li class="yz"><span>账户验证：</span><input type="text" ng-model="model.verify_string" placeholder="请输入该账户收款金额"><a href="" class="btn-yz" ng-click="getVerifyh()" ng-class="{'off': disableVerify}">{{ verifyStr }}</a></li>
                    <li ng-if="disableVerify"><span>等待15分钟后，收到账户收款金额时，请返回填写</span></li>
                </ul>
                <div class="operate">
                    <a href="" class="btn-submit" ng-click="submitbinding()">完成绑定</a>
                </div>
                <div class="tips">
                    <b>温馨提示：</b>点击“账户验证”按钮后，所绑定的银行账户将在10分钟后收到一笔随机汇款，请填写验证金额后再点击“完成绑定”按钮。银行账号一经绑定成功，后期无法更改，请慎重选择常用账号。
                </div>
            </div>
        </div>
        <!--点击付款的弹出框-->
        <script id="successTip.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    账户绑定完成
                </ion-header-bar>
                <ion-content>
                    <div class="page69">
                        <h3><img src="images/icon691.png" alt="" class="icon">恭喜您的兴业电子账户已经创建成功！</h3>
                        <div class="txt">
                            <p>{{identifyModel.enterprise_name}},</p>
                            <p>您的兴业电子账户登录用户名为{{identifyModel.xingYeUserName}}，</p>
                            <p>初始登录密码为{{identifyModel.xingYePassword}}。</p>
                            <p>请及时登录<a href="">兴业执剑人见证代管系统（兴业银行集团旗下系统）</a>重新设置登录密码和支付密码。</p>
                        </div>
                        <div class="info">
                            <p>您关联的账户信息如下：</p>
                            <p>账户名称：{{identifyModel.enterprise_name}}</p>
                            <p>开户银行：{{identifyModel.bank_name}}</p>
                            <p>银行账号：{{identifyModel.account_name}}</p>
                        </div>
                        <div class="operate">
                            <a href="" class="btn" ng-click="closeTipModal()">登录兴业执剑人见证代管系统</a>
                        </div>
                        <div class="tips"><b>温馨提示：</b>建议前往电脑端登录<a href="">兴业执剑人见证代管系统（兴业银行集团旗下系统）</a>重新设置登录密码和支付密码。</div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>

        <!--<div class="page21">
            <div class="part1">
                <span><i>*</i> 银行名称：</span>
                <select name="" id="" ng-model="model.head_bank_id" ng-options="item.id as item.bank_name for item in headBankData" ng-change="getBank()">
                    <option value="">总行名</option>
                </select>
                <select name="" id="" ng-model="addressModel.province" ng-options="item as item.address_name for item in ProvinceData" ng-change="provinceChange()">
                    <option value="">省（直辖市）</option>
                </select>
                <select name="" id="" ng-model="addressModel.city" ng-options="item as item.address_name for item in CityData" ng-change="getBank()">
                    <option value="">市</option>
                </select>
                <input type="text" ng-model="model.keyword" placeholder="请输入银行关键字查询" ng-change="getBank()">
                <select name="" id="" ng-model="model.bank_id" ng-options="item.id as item.bank_name for item in bankData" ng-change="isSubmit()">
                    <option value="">分行名</option>
                </select>
            </div>
            <div class="part2">
                <p>客户名称：</p><span ng-bind="model.account_person"></span>
                <ul>
                    <li><span><i>*</i> 账号：</span><input type="text" ng-model="model.account_number" ng-change="isSubmit()"></li>
                    <li><span>备注：</span><input ng-model="model.description" type="text"></li>
                </ul>
                <div class="operate"><input type="submit" ng-click="submit()" ng-disabled="disableSubmit" ui-sref="app.accountBind" value="确认提交"></div>
            </div>
        </div>-->

    </ion-content>
</ion-view>