<ion-view cache-view="false">
    <!--referring to queryOffer in Web-->
   
    <ion-nav-title>
        机构报价
    </ion-nav-title>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新数据……"
                       refreshing-text="获取数据中……"
                       spinner="ios">
        </ion-refresher>
        <div class="page13-1">
            <div class="part1">
                <input type="text" ng-model="filter.keyword" placeholder="关键词">
                <input type="submit" ng-click="doRefresh()" value="筛选">
                <a href="" class="btn-new" ui-sref="app.newBillOffer">新建报价</a>
            </div>


            <div class="item" ng-repeat="item in listData">
                <p>票据类型：{{item.bill_style_name}} <time>报价日期：{{ item.offer_time|date:'yyyy-MM-dd' }}</time></p>
                <table class="g-table">
                    <tr>
                        <td ng-show="item.bill_style_id == 205">电票：<span ng-if="item.offer_detail.offer_rate01">{{ item.offer_detail.offer_rate01 }}%</span><span ng-if="!item.offer_detail.offer_rate01">--</span></td>
                        <td ng-show="item.bill_style_id == 205">纸票：<span ng-if="item.offer_detail.offer_rate02">{{ item.offer_detail.offer_rate02 }}‰</span><span ng-if="!item.offer_detail.offer_rate02">--</span></td>
                        <td ng-show="item.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td ng-show="item.bill_style_id != 205">国股：<span ng-if="item.offer_detail.offer_rate01">{{ item.offer_detail.offer_rate01 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate01">--</span></td>
                        <td ng-show="item.bill_style_id != 205">城商：<span ng-if="item.offer_detail.offer_rate02">{{ item.offer_detail.offer_rate02 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate02">--</span></td>
                        <td ng-show="item.bill_style_id != 205">三农：<span ng-if="item.offer_detail.offer_rate03">{{ item.offer_detail.offer_rate03 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate03">--</span></td>
                    </tr>
                    <tr>
                        <td ng-show="item.bill_style_id != 205">村镇：<span ng-if="item.offer_detail.offer_rate04">{{ item.offer_detail.offer_rate04 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate04">--</span></td>
                        <td ng-show="item.bill_style_id != 205">外资：<span ng-if="item.offer_detail.offer_rate05">{{ item.offer_detail.offer_rate05 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate05">--</span></td>
                        <td ng-show="item.bill_style_id != 205">财务：<span ng-if="item.offer_detail.offer_rate06">{{ item.offer_detail.offer_rate06 }}{{ item.bill_style_id == 202 ? '%' : '‰' }}</span><span ng-if="!item.offer_detail.offer_rate06">--</span></td>
                        <td ng-show="item.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td ng-show="item.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td ng-show="item.bill_style_id == 205">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </table>
                <div class="operate">
                    <a href="" class="btn-modify" ng-click="edit(item)">修改</a>
                    <a href="" class="btn-close" ng-click="remove(item)">关闭</a>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
