
<ion-view cache-view="false">
    <ion-nav-title>
        我要出票
    </ion-nav-title>
    <ion-content>
        <div class="page11-1">
            <div class="part1"style="padding-bottom:0px">
                <div class="g-line-title"><i></i>票据信息</div>
                <ul class="con1" style="padding-bottom:0px">
                    <li><span style="color: #f55a14">*</span><span>票据类型：</span><a href="" ng-click="choiceEBillType()" ng-class="{true: 'on', false: ''}[model.bill_type_id==101]">电票</a><a ng-click="choicePBillType()" ng-class="{true: 'on', false: ''}[model.bill_type_id==102]" >纸票</a></li>
                    <li class="fs"><span style="color: #f55a14">*</span> <span>交易方式：</span><a ng-click="choiceYTradeType()"  ng-class="{true: 'on', false: ''}[model.trade_type_code==701]">现票卖断</a><a ng-click="choiceNTradeType()"  ng-class="{true: 'on', false: ''}[model.trade_type_code==702]">预约出票</a></li>
                    <li class="tips">（现票卖断：必须要票面；预约出票：票还没在手，可不用票面）</li>
                    <li><span style="color: #f55a14">*</span> <span>票面总金额（元）：</span><input type="number" id="price" style="display:inline-block;width:6em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" ng-model="model.bill_sum_price"></li>
                    <li ng-show="model.trade_type_code == 702"><span style="color: #f55a14">*</span><span>承兑机构：</span>
                        <select style="display:inline-block;width:6em" name="" ng-model="model.acceptor_type_id" ng-options="item.code as item.constant_name for item in acceptorTypeData">
                        </select>
                    </li>
                    <li ng-show="model.trade_type_code == 702"><span style="color: #f55a14">*</span><span>预约交易日期：</span><input type="date" style="display:inline-block;font-size:x-small;padding-bottom:0.5em;width:10em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" ng-model="model.bill_deadline_date"/></li>
                    <li ng-if="model.bill_type_id != 101"><span style="color: #f55a14">*</span> 
                        交易地址：
                        <select  ng-model="model.product_province_id" style="display:inline-block;font-size:x-small;padding-bottom:0.5em;width:10em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" name="" ng-options="item.id as item.address_name for item in provinceData" ng-change="provinceChange()">
                            <option value="">省（直辖市）</option>
                        </select>
                        <select  ng-model="model.product_location_id" style="display:inline-block;font-size:x-small;padding-bottom:0.5em;width:10em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" name="" ng-options="item.id as item.address_name for item in cityData">
                            <option value="">市</option>
                        </select>
                    </li>
                    <li>
                        <span>期望利率：</span><input type="number" id="price" style="display:inline-block;width:6em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" ng-model="model.bill_rate">
                        <span ng-if="model.bill_type_id==101">%</span>
                        <span ng-if="model.bill_type_id==102">‰</span>
                    </li>
                    <li><span>期望交易额（元）：</span><input type="number" id="price" style="display:inline-block;width:6em;border:1px solid #d6d6d6;height:.6rem;border-radius:.1rem;" ng-model="model.bill_deal_price"></li>
                </ul>
            </div>
            <div class="part2">
                <div class="g-line-title"><i></i>上传汇票</div>
                <div class="con2">
                    <div class="upload" ng-click="takePhoto(0)"  ng-if="model.bill_front_photo_path==''">
                        <span >点击正面上传</span>
                        
                        <!--<input type="file" name="" id="">-->
                    </div>
                    <div class="uploadimg" ng-if="model.bill_front_photo_path != ''" ng-click="takePhoto(0)"  >
                        <img style="width:100%;height:100%" src="{{model.bill_front_photo_path}}" alt="">
                    </div>
                    <div class="operate">
                        <a ng-click="removeFront()" class="btn-delete"></a>
                        <a ng-click="openImgMagnifyModal(model.bill_front_photo_path)" class="btn-magnifier"></a>
                    </div>
                    <div class="upload" ng-click="takePhoto(1)" ng-if="model.bill_back_photo_path == ''">
                        <span  >点击反面上传</span>
                        <!--<input type="file" name="" id="">-->
                    </div>
                    <div class="uploadimg" ng-if="model.bill_back_photo_path != ''"  ng-click="takePhoto(1)">
                        <img style="width:100%;height:100%" src="{{model.bill_back_photo_path}}" alt="">
                    </div>
                    <div class="operate">
                        <a ng-click="removeBack()" class="btn-delete"></a>
                        <a ng-click="openImgMagnifyModal(model.bill_back_photo_path)" class="btn-magnifier"></a>
                    </div>
                </div>
            </div>
            <div class="part3">
                <div class="g-line-title"><i></i>备注说明</div>
                <div class="con3">
                    <textarea name="" id="" cols="30" rows="10" placeholder="可填具体的1500/10万利率；特殊说明如：预约出票10张12万可写10*10万" ng-model="model.description"></textarea>
                    <input type="submit" value="马上发布" ng-click="save()">
                </div>
            </div>
        </div>
        <!-- 图片放大页面弹框 -->
        <script id="imgMagnify.html" type="text/ng-template">
            <ion-modal-view hide-nav-bar="true">
                <ion-content class="imgMagnify" ng-click="closeImgMagnifyModal()">
                    <ion-scroll class="imgMagnify" zooming="true" min-zoom="0.5" max-zoom="3" direction="xy" scrollbar-x="false" scrollbar-y="false" has-bouncing="true" overflow-scroll="false" style="width: 100%; height:100%;">
                        <div class="imgMagnify">
                            <img ng-class="{rotate:rotate90}" src="{{img_path}}" />
                        </div>
                    </ion-scroll>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>