<ion-view cache-view="false">
    <ion-nav-title>
        
    </ion-nav-title>
    <ion-content>


        <div class="ad-top">
            <a href="#"><img src="images/banner16.png" alt=""></a>
        </div>

        <div class="register login14">
            <ul class="con">
                <li><input type="text" ng-model="model.phone_number" placeholder="请输入手机号" class="input1"></li>
                <li><input type="password" ng-model="model.password" id="" placeholder="请输入密码" class="input2"></li>
                <li class="operate"><a  ui-sref="app.signup" class="btn-register">注册</a><input type="submit" ng-click="loginEnterprise()" value="登录"></li>
                <li><a ui-sref="app.forgetPassword" class="btn-forget" >忘记密码？</a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>