<ion-view cache-view="false">
    <ion-nav-title>
        我的竞价
    </ion-nav-title>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新数据……"
                       refreshing-text="获取数据中……"
                       spinner="ios">
        </ion-refresher>
        <div class="g-my-publish">
            <ul class="filter">
                <li class="li1">
                    <span>票据类型：</span>
                    <em ng-class="{true: 'on', false: ''}[filter.choiceBillType==101]" ng-click="choiceEBillType()">电票</em>
                    <em ng-class="{true: 'on', false: ''}[filter.choiceBillType==102]" ng-click="choicePBillType()">纸票</em>
                </li>
                <li class="li2">
                    <span>状态：</span>
                    <em ng-if="filter.choiceBillType==101" ng-class="{true: 'on', false: ''}[filter.choiceStatus==880]" ng-click="choiceTradeStatusAll()">全部 {{numberModel.all_ele_bid_number}}</em>
                    <em ng-if="filter.choiceBillType==101" ng-class="{true: 'on', false: ''}[filter.choiceStatus==881]" ng-click="choiceTradeStatusBidding()">竞价 {{numberModel.all_ele_bid_publish_number}}</em>
                    <em ng-if="filter.choiceBillType==101" ng-class="{true: 'on', false: ''}[filter.choiceStatus==882]" ng-click="choiceTradeStatusTrade()">交易中 {{numberModel.all_ele_bid_running_order_number}}</em>
                    <em ng-if="filter.choiceBillType==101" ng-class="{true: 'on', false: ''}[filter.choiceStatus==883]" ng-click="choiceTradeStatusComplete()">交易完成 {{numberModel.all_ele_bid_finished_order_number}}</em>
                    <em ng-if="filter.choiceBillType==101" ng-class="{true: 'on', false: ''}[filter.choiceStatus==884]" ng-click="choiceTradeStatusFail()">交易关闭 {{numberModel.all_ele_bid_failed_order_number}}</em>
                    <em ng-if="filter.choiceBillType==102" ng-class="{true: 'on', false: ''}[filter.choiceStatus==880]" ng-click="choiceTradeStatusAll()">全部 {{numberModel.all_paper_bid_number}}</em>
                    <em ng-if="filter.choiceBillType==102" ng-class="{true: 'on', false: ''}[filter.choiceStatus==881]" ng-click="choiceTradeStatusBidding()">竞价 {{numberModel.all_paper_bid_publish_number}}</em>
                    <em ng-if="filter.choiceBillType==102" ng-class="{true: 'on', false: ''}[filter.choiceStatus==882]" ng-click="choiceTradeStatusTrade()">交易中 {{numberModel.all_paper_bid_running_number}}</em>
                    <em ng-if="filter.choiceBillType==102" ng-class="{true: 'on', false: ''}[filter.choiceStatus==883]" ng-click="choiceTradeStatusComplete()">交易完成 {{numberModel.all_paper_bid_finished_number}}</em>
                    <em ng-if="filter.choiceBillType==102" ng-class="{true: 'on', false: ''}[filter.choiceStatus==884]" ng-click="choiceTradeStatusFail()">交易关闭 {{numberModel.all_paper_bid_failed_number}}</em>
                </li>
            </ul>

            <div class="item" ng-repeat="bid in listData">
                <p ng-if="(filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101">票据类型：{{bid.order_type_name}}<span>交易方式：{{bid.order_type_name}}</span></p>
                <p ng-if="!((filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101)">票据类型：{{bid.bill.bill_type_name}}<span>交易方式：{{bid.bill.trade_type_name}}</span></p>
                <p ng-if="(filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101">票面金额：<i>{{bid.order_total_price}}</i> 元</p>
                <p ng-if="!((filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101)">票面金额：<i>{{bid.bill.bill_sum_price}}</i> 元</p>
                <p ng-if="(filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101">状态：<i>{{bid.order_status_name}}</i><span>承兑人：{{ bid.acceptor_name | limitTo: 6 }}{{ bid.bill.acceptor_name.length > 6 ? '...' : '' }}</span></p>
                <p ng-if="!((filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101)">状态：<i>{{bid.bill.status_name}}</i><span>承兑人：{{ bid.bill.acceptor_name | limitTo: 6 }}{{ bid.bill.acceptor_name.length > 6 ? '...' : '' }}</span></p>
                <p ng-if="!((filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101)">发布日期：{{ bid.bill.publishing_time | date: 'yyyy-MM-dd' }} <time>到期日：{{ bid.bill.bill_deadline_time | date: 'yyyy-MM-dd' }}</time></p>
                <p ng-if="(filter.choiceStatus==884 || filter.choiceStatus==883 || filter.choiceStatus==882) && filter.choiceBillType==101">发布日期：{{ bid.publishing_time | date: 'yyyy-MM-dd' }} <time>到期日：{{ bid.bill_deadline_time | date: 'yyyy-MM-dd' }}</time></p>
                <!--<div  ng-if="bid.bid_result!=2" class="operate"><a ui-sref="app.transactionDetail" class="btn-details">详 细</a></div>-->
                

                <div class="operate" ng-if="(filter.choiceStatus==881 || (filter.choiceStatus==880 && bid.bill.status_code<804)) && bid.bid_result != 2 && bid.bill.bill_type_id==101"><a ui-sref="app.myReleaseDetail({myReleaseBillId: bid.bill_id, check: 2})" class="btn-details">详 细</a></div>
                <div class="operate" ng-if="(filter.choiceStatus==881 || (filter.choiceStatus==880 && bid.bill.status_code<804)) && bid.bid_result != 2 && bid.bill.bill_type_id==102"><a ui-sref="app.myReleaseDetail({myReleaseBillId: bid.bill_id, check: 2})" class="btn-details">详 细</a></div>
                <div class="operate" ng-if="(filter.choiceStatus==880 && bid.bill.status_code>=804 && bid.bill.status_code<=816) && bid.bid_result != 2 && bid.bill.bill_type_id==101"><a ui-sref="app.myReleaseDetail({'myReleaseBillId': bid.bill_id, 'myReleaseOrderId': bid.order_id, check: 2})" class="btn-details">详 细</a></div>
                <div class="operate" ng-if="(filter.choiceStatus==880 && bid.bill.status_code>=804 && bid.bill.status_code<=816) && bid.bid_result != 2 && bid.bill.bill_type_id==102"><a ui-sref="app.myReleaseDetail({'myReleaseBillId': bid.bill_id, check: 2})" class="btn-details">详 细</a></div>
                <div class="operate" ng-if="(filter.choiceStatus==882 || filter.choiceStatus==883 || filter.choiceStatus==884) && bid.bid_result != 2 && bid.bill_type_id==101"><a ui-sref="app.myReleaseDetail({'myReleaseBillId': bid.bill_id, 'myReleaseOrderId': bid.id, check: 2})" class="btn-details">详 细</a></div>
                <div class="operate" ng-if="(filter.choiceStatus==882 || filter.choiceStatus==883 || filter.choiceStatus==884) && bid.bid_result != 2 && bid.bill_type_id==102"><a ui-sref="app.myReleaseDetail({'myReleaseBillId': bid.bill_id, check: 2})" class="btn-details">详 细</a></div>
                <div ng-if="bid.bid_result==2" class="operate"><a ng-click="delete(bid)" class="btn-details">删 除</a></div>


            </div>
        </div>
                <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>