<ion-view cache-view="false">
    <ion-nav-title>
        
    </ion-nav-title>
    <ion-content>
        <!--<div class="ad-top">
            <a href=""><img src="images/banner14.png" alt=""></a>
        </div>
        <div class="register">
            <div class="title"><span>汇票线新手赶紧注册领特权吧</span></div>
            <ul class="con">
                <li><input type="text" ng-model="model.phone_number"  placeholder="请输入手机号" class="input1" ng-change="PhoneChange()"></li>
                <li><input type="password" ng-model="model.password" name="" id="" placeholder="请设置6-12位含数字和字母的密码" class="input2"></li>
                <li><input type="password" ng-model="model.password2" name="" id="" placeholder="请再次输入密码" class="input2"></li>
                <li class="yzm"><input type="text" ng-model="model.phone_verify_code" placeholder="请输入验证码"><a href="" class="btn-yzm" ng-bind="verifyStr" ng-class="{'on': !disableVerify}" ng-click="getVerify()">获取验证码</a></li>
                <li class="operate"><input type="submit"  ng-disabled="!filter.rule" ng-click="signup()" value="立即注册  领取特权"></li>
                <li class="agree"><label for="xx1"><input type="checkbox"  ng-model="filter.rule">我已阅读并同意</label><a href="">《汇票线用户注册协议》</a></li>
            </ul>
        </div>-->

        <div class="ad-top">
            <a href=""><img src="images/banner15.png" alt=""></a>
        </div>
        <div class="register register14">
            <ul class="con">
                <li><input type="text" ng-model="model.phone_number" placeholder="请输入手机号" class="input1" ng-change="PhoneChange()"></li>
                <li><input type="password" ng-model="model.password" name="" id="" placeholder="请设置6-12位含数字和字母的密码" class="input2"></li>
                <li><input type="password" ng-model="model.password2" name="" id="" placeholder="请再次输入密码" class="input2"></li>
                <li class="yzm"><input type="text" ng-model="model.phone_verify_code" placeholder="请输入验证码"><a href="" class="btn-yzm" ng-bind="verifyStr" ng-class="{'on': !disableVerify}" ng-click="getVerify()">获取验证码</a></li>
                <li class="agree"><label for="xx1"><input type="checkbox" ng-model="filter.rule" name="" id="xx1">我已阅读并同意</label><a href="">《汇票线用户注册协议》</a></li>
                <li class="operate"><input type="submit" ng-disabled="!filter.rule" ng-click="signup()" value="确认注册"></li>
            </ul>
            <div class="tips">
                提示：注册完成后 ，请登录账户且在“我的账户”中进行信息完善及认证，以便进行交易操作。
            </div>
        </div>
    </ion-content>
</ion-view>