<ion-view cache-view="false">
    <ion-nav-title>
        设置
    </ion-nav-title>
    <ion-content>
        <div class="page-setting">
            <ul class="g-icon-list-link">
                <li ui-sref="app.guide"><a href="javascript:;"><img src="images/icon154-1.png" alt="" class="icon">新手指引</a></li>
                <li ui-sref="app.agreement"><a href="javascript:;"><img src="images/icon154-2.png" alt="" class="icon">服务协议</a></li>
                <li><a href="javascript:;"><img src="images/icon154-3.png" alt="" class="icon">版本信息</a></li>
                <li ui-sref="app.about"><a href="javascript:;"><img src="images/icon154-4.png" alt="" class="icon">关于我们</a></li>
            </ul>
            <div class="operate">
                <a href="" class="btn-loginout" ng-click="loginOut()" ui-sref="app.signin">退出当前账户</a>
            </div>
        </div>

    </ion-content>
</ion-view>