<ion-view cache-view="false">
    <ion-nav-title>
        票面涂抹
    </ion-nav-title>
    <ion-content>
        <div class="page51">
            <!--<div class="part1">
                涂抹画笔<input type="range" name="" id="" class="range">
            </div>-->
            <div class="part2">
                <!--<a href="" class="btn1">图片旋转</a>
                <a href="" class="btn2">撤销操作</a>-->
                <a href="" class="btn3">图片分享</a>
                <a href="" class="btn4" ng-click="save()">图片保存</a>
            </div>
            <!-- 图片框默认高度为7.5rem，可手动修改 -->
            <div class="img-box" style="height:4.1rem">
                <canvas style="display: block; margin: 0 auto;" width="100" id="canvas">
                    您的浏览器暂不支持canvas
                </canvas>
            </div>
            <div class="btn-upload" ng-click="initImage()">
                <span >选取<br>图片</span>
            </div>
            <!--<div class="part5">
                <a href="" class="btn3" ng-click="save()">图片分享</a>
                <a href="" class="btn4">图片保存</a>
            </div>-->
        </div>
    </ion-content>
</ion-view>