<ion-view cache-view="false">
    <!--referring to queryOffer in Web-->
    <ion-nav-title>
        票据详情--银纸小票
    </ion-nav-title>
    <ion-content>
        <div class="wrap">
            <ul class="g-list no">
                <li>票据号：<span class="r">3412341512341234</span></li>
                <li>票据类型：<span class="r">电票  国股</span></li>
                <li>票面金额（元）：<span class="r">¥20,000,000.00</span></li>
                <li>到期日：<span class="r">2017-11-30（剩余361天）</span></li>
                <li>承兑人：<span class="r">杭州工商银行城东分行</span></li>
                <li>票据瑕疵：<span class="r">无瑕疵</span></li>
            </ul>
            <ul class="g-img-box-lr g-mb2 no">
                <li><img src="images/img101.png" alt=""></li>
                <li><img src="images/img102.png" alt=""></li>
            </ul>
            <div class="part3 g-mb2">
                <div class="g-line-title-pd"><i></i>订单信息</div>
                <ul class="g-list">
                    <li>订单号码：<span class="r">××××</span></li>
                    <li>合同号：<span class="r">××××××</span></li>
                    <li>成交金额（元）：<span class="r">xxxxxx</span></li>
                    <li>生成时间：<span class="r">××××××</span></li>
                </ul>
            </div>
            <div class="part3 g-mb2">
                <div class="g-line-title-pd"><i></i>出票方收款账号</div>
                <ul class="g-list">
                    <li>企业名称：<span>××××</span></li>
                    <li>开户行：<span>××××××</span></li>
                    <li>账号：<span>xxxxxx</span></li>
                    <li>联行号：<span>××××××</span></li>
                </ul>
            </div>

            <div class="g-order-status">
                <p>出票方已确认交易</p>
                <p>请支付票款</p>
                <a href="" class="btn">确认支付</a>
            </div>

        </div>


        <!-- 分享弹框 -->
        <div class="g-alert-shares">
            <div class="box">
                <ul class="con">
                    <li><a href=""><img src="images/share1.png" alt="">微信好友</a></li>
                    <li><a href=""><img src="images/share2.png" alt="">微信朋友圈</a></li>
                    <li><a href=""><img src="images/share3.png" alt="">新浪微博</a></li>
                    <li><a href=""><img src="images/share4.png" alt="">QQ好友</a></li>
                    <li><a href=""><img src="images/share5.png" alt="">QQ空间</a></li>
                </ul>
                <a href="" class="btn-cancle">取 消</a>
            </div>
        </div>
    </ion-content>
</ion-view>